Repository ryanoasis/nerd-fonts, pull requests merged in 2021-04, with the labels that each got.

#545 PureScript Icon
  bin/scripts/lib/i_seti.sh
  font-patcher
  src/glyphs/original-source.otf
  src/svgs/purescript.svg
Labels: ❲+❳ add glyph to core set

#551 Update font-logos with new linux icons
  bin/scripts/lib/i_linux.sh
  font-patcher
  src/glyphs/font-logos.ttf
Labels: { ; } update glyph set

#449 Docker support
  .dockerignore
  .github/workflows/docker-release.yml
  Dockerfile
  bin/scripts/docker-entrypoint.sh
  readme.md
Labels: ✎ in progress ..., ✨ enhancement
