Repository ryanoasis/nerd-fonts, pull requests merged in 2023-11, with the labels that each got.

#1406 Bugfix for Visual Studio 2022
  bin/scripts/name_parser/FontnameParser.py
  bin/scripts/name_parser/query_name
  font-patcher
Labels: Bug fix

#1414 Add CommitMono
  bin/scripts/generate-font-image-previews.sh
  bin/scripts/lib/fonts.json
  readme.md
  src/unpatched-fonts/CommitMono/CommitMono-400-Italic.otf
  src/unpatched-fonts/CommitMono/CommitMono-400-Regular.otf
  src/unpatched-fonts/CommitMono/CommitMono-700-Italic.otf
  src/unpatched-fonts/CommitMono/CommitMono-700-Regular.otf
  src/unpatched-fonts/CommitMono/LICENSE
  src/unpatched-fonts/CommitMono/README.md
Labels: ❲Aa❳ new font

#1419 Increase Powerline glyph overlap
  font-patcher
  src/glyphs/PowerlineExtraSymbols.otf
  src/glyphs/powerline-symbols/PowerlineSymbols.otf
Labels: ❲⌖❳glyph positioning

#1405 Add Githubnext Monaspace
  bin/scripts/lib/fonts.json
  bin/scripts/name_parser/FontnameTools.py
  readme.md
  src/unpatched-fonts/Monaspace/Argon/MonaspaceArgon-Bold.otf
  src/unpatched-fonts/Monaspace/Argon/MonaspaceArgon-BoldItalic.otf
  src/unpatched-fonts/Monaspace/Argon/MonaspaceArgon-Italic.otf
  src/unpatched-fonts/Monaspace/Argon/MonaspaceArgon-Medium.otf
  src/unpatched-fonts/Monaspace/Argon/MonaspaceArgon-MediumItalic.otf
  src/unpatched-fonts/Monaspace/Argon/MonaspaceArgon-Regular.otf
  src/unpatched-fonts/Monaspace/Krypton/MonaspaceKrypton-Bold.otf
  src/unpatched-fonts/Monaspace/Krypton/MonaspaceKrypton-BoldItalic.otf
  src/unpatched-fonts/Monaspace/Krypton/MonaspaceKrypton-Italic.otf
  src/unpatched-fonts/Monaspace/Krypton/MonaspaceKrypton-Medium.otf
  src/unpatched-fonts/Monaspace/Krypton/MonaspaceKrypton-MediumItalic.otf
  src/unpatched-fonts/Monaspace/Krypton/MonaspaceKrypton-Regular.otf
  src/unpatched-fonts/Monaspace/LICENSE
  src/unpatched-fonts/Monaspace/Neon/MonaspaceNeon-Bold.otf
  src/unpatched-fonts/Monaspace/Neon/MonaspaceNeon-BoldItalic.otf
  src/unpatched-fonts/Monaspace/Neon/MonaspaceNeon-Italic.otf
  src/unpatched-fonts/Monaspace/Neon/MonaspaceNeon-Medium.otf
  src/unpatched-fonts/Monaspace/Neon/MonaspaceNeon-MediumItalic.otf
  src/unpatched-fonts/Monaspace/Neon/MonaspaceNeon-Regular.otf
  src/unpatched-fonts/Monaspace/README.md
  src/unpatched-fonts/Monaspace/Radon/MonaspaceRadon-Bold.otf
  src/unpatched-fonts/Monaspace/Radon/MonaspaceRadon-BoldItalic.otf
  src/unpatched-fonts/Monaspace/Radon/MonaspaceRadon-Italic.otf
  src/unpatched-fonts/Monaspace/Radon/MonaspaceRadon-Medium.otf
  src/unpatched-fonts/Monaspace/Radon/MonaspaceRadon-MediumItalic.otf
  src/unpatched-fonts/Monaspace/Radon/MonaspaceRadon-Regular.otf
  src/unpatched-fonts/Monaspace/Xenon/MonaspaceXenon-Bold.otf
  src/unpatched-fonts/Monaspace/Xenon/MonaspaceXenon-BoldItalic.otf
  src/unpatched-fonts/Monaspace/Xenon/MonaspaceXenon-Italic.otf
  src/unpatched-fonts/Monaspace/Xenon/MonaspaceXenon-Medium.otf
  src/unpatched-fonts/Monaspace/Xenon/MonaspaceXenon-MediumItalic.otf
  src/unpatched-fonts/Monaspace/Xenon/MonaspaceXenon-Regular.otf
  src/unpatched-fonts/Monaspace/config.cfg
  src/unpatched-fonts/Monaspace/update.sh
Labels: ❲Aa❳ new font, Ready ⛱
