Repository ryanoasis/nerd-fonts, pull requests merged in 2024-11, with the labels that each got.

#1727 Fix Powerline glyphs position and size in some cases
  font-patcher
Labels: ❲⌖❳glyph positioning, Bug fix

#1691 Switch to devicons/devicon
  .dockerignore
  bin/scripts/archive-font-patcher.sh
  bin/scripts/lib/i_dev.sh
  css/nerd-fonts-generated.css
  css/nerd-fonts-generated.min.css
  font-patcher
  glyphnames.json
  readme.md
  src/glyphs/devicons/README.md
  src/glyphs/devicons/analyze
  src/glyphs/devicons/devicons.ttf
  src/glyphs/devicons/devicons_orig.ttf
  src/glyphs/devicons/fixed/README.md
  src/glyphs/devicons/fixed/angularjs-plain.svg
  src/glyphs/devicons/fixed/awk-plain.svg
  src/glyphs/devicons/fixed/bash-plain.svg
  src/glyphs/devicons/fixed/llvm-plain.svg
  src/glyphs/devicons/fixed/nginx-plain.svg
  src/glyphs/devicons/generate
  src/glyphs/devicons/mapping
  src/glyphs/devicons/vorillaz/README.md
  src/glyphs/devicons/vorillaz/clojure_alt.svg
  src/glyphs/devicons/vorillaz/database.svg
  src/glyphs/devicons/vorillaz/dlang.svg
  src/glyphs/devicons/vorillaz/dropbox.svg
  src/glyphs/devicons/vorillaz/git_branch.svg
  src/glyphs/devicons/vorillaz/git_commit.svg
  src/glyphs/devicons/vorillaz/git_compare.svg
  src/glyphs/devicons/vorillaz/git_merge.svg
  src/glyphs/devicons/vorillaz/git_pull_request.svg
  src/glyphs/devicons/vorillaz/gnu.svg
  src/glyphs/devicons/vorillaz/javascript_1.svg
  src/glyphs/devicons/vorillaz/mootools_badge.svg
  src/glyphs/devicons/vorillaz/mozilla.svg
  src/glyphs/devicons/vorillaz/requirejs.svg
  src/glyphs/devicons/vorillaz/ruby_rough.svg
  src/glyphs/devicons/vorillaz/smashing_magazine.svg
  src/glyphs/devicons/vorillaz/sublime.svg
  src/glyphs/devicons/vorillaz/terminal.svg
Labels: { ; } update glyph set, Ready ⛱

#1733 font-patcher: Add progress indicators
  font-patcher
  src/glyphs/extraglyphs.sfd
Labels: ❲+❳ add glyph to core set

#1740 Add chuck icon and Vitruvian Man
  bin/scripts/lib/i_seti.sh
  src/glyphs/original-source.otf
  src/svgs/chuck_nf.svg
  src/svgs/icons.tsv
  src/svgs/vitruvian_nf.svg
Labels: ❲+❳ add glyph to core set

#1623 Update 0xProto to 2.201
  bin/scripts/lib/fonts.json
  readme.md
  src/unpatched-fonts/0xProto/0xProto-Bold.ttf
  src/unpatched-fonts/0xProto/0xProto-Italic.ttf
  src/unpatched-fonts/0xProto/0xProto-Regular.ttf
  src/unpatched-fonts/0xProto/README.md
Labels: ❲Aa❳ update font version bump, Ready ⛱

#1741 IntelOneMono: Update to 1.4.0
  bin/scripts/lib/fonts.json
  readme.md
  src/unpatched-fonts/IntelOneMono/IntelOneMono-Bold.ttf
  src/unpatched-fonts/IntelOneMono/IntelOneMono-BoldItalic.ttf
  src/unpatched-fonts/IntelOneMono/IntelOneMono-Italic.ttf
  src/unpatched-fonts/IntelOneMono/IntelOneMono-Light.ttf
  src/unpatched-fonts/IntelOneMono/IntelOneMono-LightItalic.ttf
  src/unpatched-fonts/IntelOneMono/IntelOneMono-Medium.ttf
  src/unpatched-fonts/IntelOneMono/IntelOneMono-MediumItalic.ttf
  src/unpatched-fonts/IntelOneMono/IntelOneMono-Regular.ttf
  src/unpatched-fonts/IntelOneMono/README.md
  src/unpatched-fonts/IntelOneMono/update.sh
Labels: ❲Aa❳ update font version bump
