Repository ryanoasis/nerd-fonts, pull requests merged in 2024-03, with the labels that each got.

#1518 Update license-audit.md
  license-audit.md
Labels: Ready ⛱

#1490 Add inverse powerline arrow heads
  bin/scripts/lib/i_ple.sh
  bin/scripts/test-fonts.sh
  bin/scripts/test-powerlines.sh
  bin/scripts/test-vertical-lines.sh
  font-patcher
  src/glyphs/powerline-extra/PowerlineExtraSymbols.otf
  src/glyphs/powerline-extra/README.md
Labels: ❲+❳ add glyph to core set

#1576 Add Recursive Mono
  bin/scripts/lib/fonts.json
  bin/scripts/name_parser/FontnameTools.py
  readme.md
  src/unpatched-fonts/Recursive/LICENSE.txt
  src/unpatched-fonts/Recursive/README.md
  src/unpatched-fonts/Recursive/RecMonoCasual/RecMonoCasual-Bold-1.085.ttf
  src/unpatched-fonts/Recursive/RecMonoCasual/RecMonoCasual-BoldItalic-1.085.ttf
  src/unpatched-fonts/Recursive/RecMonoCasual/RecMonoCasual-Italic-1.085.ttf
  src/unpatched-fonts/Recursive/RecMonoCasual/RecMonoCasual-Regular-1.085.ttf
  src/unpatched-fonts/Recursive/RecMonoDuotone/RecMonoDuotone-Bold-1.085.ttf
  src/unpatched-fonts/Recursive/RecMonoDuotone/RecMonoDuotone-BoldItalic-1.085.ttf
  src/unpatched-fonts/Recursive/RecMonoDuotone/RecMonoDuotone-Italic-1.085.ttf
  src/unpatched-fonts/Recursive/RecMonoDuotone/RecMonoDuotone-Regular-1.085.ttf
  src/unpatched-fonts/Recursive/RecMonoLinear/RecMonoLinear-Bold-1.085.ttf
  src/unpatched-fonts/Recursive/RecMonoLinear/RecMonoLinear-BoldItalic-1.085.ttf
  src/unpatched-fonts/Recursive/RecMonoLinear/RecMonoLinear-Italic-1.085.ttf
  src/unpatched-fonts/Recursive/RecMonoLinear/RecMonoLinear-Regular-1.085.ttf
  src/unpatched-fonts/Recursive/RecMonoSemicasual/RecMonoSemicasual-Bold-1.085.ttf
  src/unpatched-fonts/Recursive/RecMonoSemicasual/RecMonoSemicasual-BoldItalic-1.085.ttf
  src/unpatched-fonts/Recursive/RecMonoSemicasual/RecMonoSemicasual-Italic-1.085.ttf
  src/unpatched-fonts/Recursive/RecMonoSemicasual/RecMonoSemicasual-Regular-1.085.ttf
  src/unpatched-fonts/fontfilenames
Labels: ❲Aa❳ new font, Ready ⛱
