Repository ryanoasis/nerd-fonts, pull requests merged in 2025-04, with the labels that each got.

#1830 Add progress indicators to cheat sheet
  bin/scripts/lib/README.md
  bin/scripts/lib/i_all.sh
  bin/scripts/lib/i_extra.sh
Labels: :pencil2: documentation, 🌐 web pages

#1802 Atkinson hyperlegible mono
  bin/scripts/lib/fonts.json
  bin/scripts/name_parser/FontnameTools.py
  readme.md
  src/unpatched-fonts/AtkinsonHyperlegibleMono/AtkinsonHyperlegibleMono-Bold.otf
  src/unpatched-fonts/AtkinsonHyperlegibleMono/AtkinsonHyperlegibleMono-BoldItalic.otf
  src/unpatched-fonts/AtkinsonHyperlegibleMono/AtkinsonHyperlegibleMono-Light.otf
  src/unpatched-fonts/AtkinsonHyperlegibleMono/AtkinsonHyperlegibleMono-LightItalic.otf
  src/unpatched-fonts/AtkinsonHyperlegibleMono/AtkinsonHyperlegibleMono-Medium.otf
  src/unpatched-fonts/AtkinsonHyperlegibleMono/AtkinsonHyperlegibleMono-MediumItalic.otf
  src/unpatched-fonts/AtkinsonHyperlegibleMono/AtkinsonHyperlegibleMono-Regular.otf
  src/unpatched-fonts/AtkinsonHyperlegibleMono/AtkinsonHyperlegibleMono-RegularItalic.otf
  src/unpatched-fonts/AtkinsonHyperlegibleMono/LICENSE.txt
  src/unpatched-fonts/AtkinsonHyperlegibleMono/README.md
  src/unpatched-fonts/AtkinsonHyperlegibleMono/config.cfg
  src/unpatched-fonts/README.md
  src/unpatched-fonts/fontfilenames
Labels: ❲Aa❳ new font, Ready ⛱

#1836 Update UbuntuSans to 1.006
  bin/scripts/lib/fonts.json
  readme.md
  src/unpatched-fonts/UbuntuSans/Mono/UbuntuSansMono-Bold.ttf
  src/unpatched-fonts/UbuntuSans/Mono/UbuntuSansMono-BoldItalic.ttf
  src/unpatched-fonts/UbuntuSans/Mono/UbuntuSansMono-Italic.ttf
  src/unpatched-fonts/UbuntuSans/Mono/UbuntuSansMono-Medium.ttf
  src/unpatched-fonts/UbuntuSans/Mono/UbuntuSansMono-MediumItalic.ttf
  src/unpatched-fonts/UbuntuSans/Mono/UbuntuSansMono-Regular.ttf
  src/unpatched-fonts/UbuntuSans/Mono/UbuntuSansMono-SemiBold.ttf
  src/unpatched-fonts/UbuntuSans/Mono/UbuntuSansMono-SemiBoldItalic.ttf
  src/unpatched-fonts/UbuntuSans/README.md
  src/unpatched-fonts/UbuntuSans/Sans/UbuntuSans-Bold.ttf
  src/unpatched-fonts/UbuntuSans/Sans/UbuntuSans-BoldItalic.ttf
  src/unpatched-fonts/UbuntuSans/Sans/UbuntuSans-Italic.ttf
  src/unpatched-fonts/UbuntuSans/Sans/UbuntuSans-Medium.ttf
  src/unpatched-fonts/UbuntuSans/Sans/UbuntuSans-MediumItalic.ttf
  src/unpatched-fonts/UbuntuSans/Sans/UbuntuSans-Regular.ttf
  src/unpatched-fonts/UbuntuSans/Sans/UbuntuSans-SemiBold.ttf
  src/unpatched-fonts/UbuntuSans/Sans/UbuntuSans-SemiBoldItalic.ttf
Labels: ❲Aa❳ update font version bump

#1838 Update Geist Mono to 1.401
  bin/scripts/lib/fonts.json
  readme.md
  src/unpatched-fonts/GeistMono/GeistMono-Black.otf
  src/unpatched-fonts/GeistMono/GeistMono-Bold.otf
  src/unpatched-fonts/GeistMono/GeistMono-Light.otf
  src/unpatched-fonts/GeistMono/GeistMono-Medium.otf
  src/unpatched-fonts/GeistMono/GeistMono-Regular.otf
  src/unpatched-fonts/GeistMono/GeistMono-SemiBold.otf
  src/unpatched-fonts/GeistMono/GeistMono-Thin.otf
  src/unpatched-fonts/GeistMono/GeistMono-UltraBlack.otf
  src/unpatched-fonts/GeistMono/GeistMono-UltraLight.otf
  src/unpatched-fonts/GeistMono/README.md
Labels: ❲Aa❳ update font version bump

#1840 Update Lilex to Release 2.600
  bin/scripts/lib/fonts.json
  readme.md
  src/unpatched-fonts/Lilex/Lilex-Bold.ttf
  src/unpatched-fonts/Lilex/Lilex-BoldItalic.ttf
  src/unpatched-fonts/Lilex/Lilex-ExtraLight.ttf
  src/unpatched-fonts/Lilex/Lilex-ExtraLightItalic.ttf
  src/unpatched-fonts/Lilex/Lilex-ExtraThick.ttf
  src/unpatched-fonts/Lilex/Lilex-Italic.ttf
  src/unpatched-fonts/Lilex/Lilex-Medium.ttf
  src/unpatched-fonts/Lilex/Lilex-MediumItalic.ttf
  src/unpatched-fonts/Lilex/Lilex-Regular.ttf
  src/unpatched-fonts/Lilex/Lilex-Thin.ttf
  src/unpatched-fonts/Lilex/Lilex-ThinItalic.ttf
  src/unpatched-fonts/Lilex/README.md
Labels: ❲Aa❳ update font version bump

#1839 Update InconsolataLGC to 1.13
  bin/scripts/lib/fonts.json
  readme.md
  src/unpatched-fonts/InconsolataLGC/Inconsolata-LGC-Bold.ttf
  src/unpatched-fonts/InconsolataLGC/Inconsolata-LGC-BoldItalic.ttf
  src/unpatched-fonts/InconsolataLGC/Inconsolata-LGC-Italic.ttf
  src/unpatched-fonts/InconsolataLGC/Inconsolata-LGC.ttf
  src/unpatched-fonts/InconsolataLGC/README.md
Labels: ❲Aa❳ update font version bump

#1841 Update MartianMono to 1.1.0
  bin/scripts/lib/fonts.json
  readme.md
  src/unpatched-fonts/MartianMono/Cn/MartianMono-CondensedBold.ttf
  src/unpatched-fonts/MartianMono/Cn/MartianMono-CondensedMedium.ttf
  src/unpatched-fonts/MartianMono/Cn/MartianMono-CondensedRegular.ttf
  src/unpatched-fonts/MartianMono/README.md
  src/unpatched-fonts/MartianMono/Std/MartianMono-Bold.ttf
  src/unpatched-fonts/MartianMono/Std/MartianMono-Medium.ttf
  src/unpatched-fonts/MartianMono/Std/MartianMono-Regular.ttf
  src/unpatched-fonts/MartianMono/update.sh
Labels: ❲Aa❳ update font version bump

#1842 Update MPlus to 1.007
  bin/scripts/lib/fonts.json
  readme.md
  src/unpatched-fonts/MPlus/M_Plus_1/Mplus1-Black.ttf
  src/unpatched-fonts/MPlus/M_Plus_1/Mplus1-Bold.ttf
  src/unpatched-fonts/MPlus/M_Plus_1/Mplus1-ExtraBold.ttf
  src/unpatched-fonts/MPlus/M_Plus_1/Mplus1-ExtraLight.ttf
  src/unpatched-fonts/MPlus/M_Plus_1/Mplus1-Light.ttf
  src/unpatched-fonts/MPlus/M_Plus_1/Mplus1-Medium.ttf
  src/unpatched-fonts/MPlus/M_Plus_1/Mplus1-Regular.ttf
  src/unpatched-fonts/MPlus/M_Plus_1/Mplus1-SemiBold.ttf
  src/unpatched-fonts/MPlus/M_Plus_1/Mplus1-Thin.ttf
  src/unpatched-fonts/MPlus/M_Plus_1_code/Mplus1Code-Bold.ttf
  src/unpatched-fonts/MPlus/M_Plus_1_code/Mplus1Code-ExtraLight.ttf
  src/unpatched-fonts/MPlus/M_Plus_1_code/Mplus1Code-Light.ttf
  src/unpatched-fonts/MPlus/M_Plus_1_code/Mplus1Code-Medium.ttf
  src/unpatched-fonts/MPlus/M_Plus_1_code/Mplus1Code-Regular.ttf
  src/unpatched-fonts/MPlus/M_Plus_1_code/Mplus1Code-SemiBold.ttf
  src/unpatched-fonts/MPlus/M_Plus_1_code/Mplus1Code-Thin.ttf
  src/unpatched-fonts/MPlus/M_Plus_2/Mplus2-Black.ttf
  src/unpatched-fonts/MPlus/M_Plus_2/Mplus2-Bold.ttf
  src/unpatched-fonts/MPlus/M_Plus_2/Mplus2-ExtraBold.ttf
  src/unpatched-fonts/MPlus/M_Plus_2/Mplus2-ExtraLight.ttf
  src/unpatched-fonts/MPlus/M_Plus_2/Mplus2-Light.ttf
  src/unpatched-fonts/MPlus/M_Plus_2/Mplus2-Medium.ttf
  src/unpatched-fonts/MPlus/M_Plus_2/Mplus2-Regular.ttf
  src/unpatched-fonts/MPlus/M_Plus_2/Mplus2-SemiBold.ttf
  src/unpatched-fonts/MPlus/M_Plus_2/Mplus2-Thin.ttf
  src/unpatched-fonts/MPlus/M_Plus_code_latin50/MplusCodeLatin50-Bold.ttf
  src/unpatched-fonts/MPlus/M_Plus_code_latin50/MplusCodeLatin50-ExtraLight.ttf
  src/unpatched-fonts/MPlus/M_Plus_code_latin50/MplusCodeLatin50-Light.ttf
  src/unpatched-fonts/MPlus/M_Plus_code_latin50/MplusCodeLatin50-Medium.ttf
  src/unpatched-fonts/MPlus/M_Plus_code_latin50/MplusCodeLatin50-Regular.ttf
  src/unpatched-fonts/MPlus/M_Plus_code_latin50/MplusCodeLatin50-SemiBold.ttf
  src/unpatched-fonts/MPlus/M_Plus_code_latin50/MplusCodeLatin50-Thin.ttf
  src/unpatched-fonts/MPlus/M_Plus_code_latin60/MplusCodeLatin60-Bold.ttf
  src/unpatched-fonts/MPlus/M_Plus_code_latin60/MplusCodeLatin60-ExtraLight.ttf
  src/unpatched-fonts/MPlus/M_Plus_code_latin60/MplusCodeLatin60-Light.ttf
  src/unpatched-fonts/MPlus/M_Plus_code_latin60/MplusCodeLatin60-Medium.ttf
  src/unpatched-fonts/MPlus/M_Plus_code_latin60/MplusCodeLatin60-Regular.ttf
  src/unpatched-fonts/MPlus/M_Plus_code_latin60/MplusCodeLatin60-SemiBold.ttf
  src/unpatched-fonts/MPlus/M_Plus_code_latin60/MplusCodeLatin60-Thin.ttf
  src/unpatched-fonts/MPlus/README.md
Labels: ❲Aa❳ update font version bump

#1846 Update Monaspace to 1.200
  bin/scripts/lib/fonts.json
  readme.md
  src/unpatched-fonts/Monaspace/Argon/MonaspaceArgon-Bold.otf
  src/unpatched-fonts/Monaspace/Argon/MonaspaceArgon-BoldItalic.otf
  src/unpatched-fonts/Monaspace/Argon/MonaspaceArgon-Italic.otf
  src/unpatched-fonts/Monaspace/Argon/MonaspaceArgon-Light.otf
  src/unpatched-fonts/Monaspace/Argon/MonaspaceArgon-LightItalic.otf
  src/unpatched-fonts/Monaspace/Argon/MonaspaceArgon-Medium.otf
  src/unpatched-fonts/Monaspace/Argon/MonaspaceArgon-MediumItalic.otf
  src/unpatched-fonts/Monaspace/Argon/MonaspaceArgon-Regular.otf
  src/unpatched-fonts/Monaspace/Krypton/MonaspaceKrypton-Bold.otf
  src/unpatched-fonts/Monaspace/Krypton/MonaspaceKrypton-BoldItalic.otf
  src/unpatched-fonts/Monaspace/Krypton/MonaspaceKrypton-Italic.otf
  src/unpatched-fonts/Monaspace/Krypton/MonaspaceKrypton-Light.otf
  src/unpatched-fonts/Monaspace/Krypton/MonaspaceKrypton-LightItalic.otf
  src/unpatched-fonts/Monaspace/Krypton/MonaspaceKrypton-Medium.otf
  src/unpatched-fonts/Monaspace/Krypton/MonaspaceKrypton-MediumItalic.otf
  src/unpatched-fonts/Monaspace/Krypton/MonaspaceKrypton-Regular.otf
  src/unpatched-fonts/Monaspace/Neon/MonaspaceNeon-Bold.otf
  src/unpatched-fonts/Monaspace/Neon/MonaspaceNeon-BoldItalic.otf
  src/unpatched-fonts/Monaspace/Neon/MonaspaceNeon-Italic.otf
  src/unpatched-fonts/Monaspace/Neon/MonaspaceNeon-Light.otf
  src/unpatched-fonts/Monaspace/Neon/MonaspaceNeon-LightItalic.otf
  src/unpatched-fonts/Monaspace/Neon/MonaspaceNeon-Medium.otf
  src/unpatched-fonts/Monaspace/Neon/MonaspaceNeon-MediumItalic.otf
  src/unpatched-fonts/Monaspace/Neon/MonaspaceNeon-Regular.otf
  src/unpatched-fonts/Monaspace/README.md
  src/unpatched-fonts/Monaspace/Radon/MonaspaceRadon-Bold.otf
  src/unpatched-fonts/Monaspace/Radon/MonaspaceRadon-BoldItalic.otf
  src/unpatched-fonts/Monaspace/Radon/MonaspaceRadon-Italic.otf
  src/unpatched-fonts/Monaspace/Radon/MonaspaceRadon-Light.otf
  src/unpatched-fonts/Monaspace/Radon/MonaspaceRadon-LightItalic.otf
  src/unpatched-fonts/Monaspace/Radon/MonaspaceRadon-Medium.otf
  src/unpatched-fonts/Monaspace/Radon/MonaspaceRadon-MediumItalic.otf
  src/unpatched-fonts/Monaspace/Radon/MonaspaceRadon-Regular.otf
  src/unpatched-fonts/Monaspace/Xenon/MonaspaceXenon-Bold.otf
  src/unpatched-fonts/Monaspace/Xenon/MonaspaceXenon-BoldItalic.otf
  src/unpatched-fonts/Monaspace/Xenon/MonaspaceXenon-Italic.otf
  src/unpatched-fonts/Monaspace/Xenon/MonaspaceXenon-Light.otf
  src/unpatched-fonts/Monaspace/Xenon/MonaspaceXenon-LightItalic.otf
  src/unpatched-fonts/Monaspace/Xenon/MonaspaceXenon-Medium.otf
  src/unpatched-fonts/Monaspace/Xenon/MonaspaceXenon-MediumItalic.otf
  src/unpatched-fonts/Monaspace/Xenon/MonaspaceXenon-Regular.otf
  src/unpatched-fonts/Monaspace/update.sh
Labels: ❲Aa❳ update font version bump

#1849 Use unrounded glyphs as source
  .github/workflows/font-patcher.yml
  bin/scripts/lib/i_dev.sh
  bin/scripts/lib/i_oct.sh
  font-patcher
  src/glyphs/devicons/devicons.otf
  src/glyphs/devicons/devicons.ttf
  src/glyphs/devicons/generate
  src/glyphs/octicons/generate
  src/glyphs/octicons/octicons.otf
  src/glyphs/octicons/octicons.ttf
Labels: ❲⌖❳glyph positioning

#1852 Fix alignment for some glyhs in propo
  font-patcher
Labels: ❲⚖❳glyph sizing, ❲⌖❳glyph positioning
